
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-sm-12">
        <p><strong>Calendar</strong></p>
        @Html.Partial("_Month", -1)
    </div>
</div>

